  <h1><%= @pet.name %> - <%= @pet.species %></h1>
  <p>age: <%= @pet.age %></p>
  <p>address: <%= @pet.address %></p>
  <p>date found: <%= @pet.found_on %>â¤ï¸</p>

  <%= link_to 'back', pets_path %>
  <%= link_to 'edit', edit_pet_path(@pet) %>
  <%= link_to 'delete', pet_path(@pet), method: :delete %>
